BasedOnStyle: Google
UseTab: Never
IndentWidth: 4
AccessModifierOffset: -4
ColumnLimit: 100
BinPackParameters: false
SortIncludes: true
Standard: c++17
DerivePointerAlignment: false
PointerAlignment: Right
