recursive-include src *.py
recursive-include src *.yaml
recursive-include src *.cpp
recursive-include src *.hpp
recursive-include src *.h
global-include CMakeLists.txt
global-include LICENSE
global-include *.cmake
